<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arduinoml -->
      <package
            uri="http://fr.unice.polytech.dsl/arduinoml"
            class="fr.unice.polytech.dsl.arduinoml.ArduinomlPackage"
            genModel="model/arduinoml.genmodel"/>
   </extension>

</plugin>
